# Python
__pycache__/
*.py[cod]
*.pyo

# Entornos Virtuales
venv/
env/

# Reportes de Pytest
.pytest_cache/
.cache/

# Archivos de IDE
.vscode/
.idea/

# Archivos de reporte
*.html
reporte_pruebas.html
assets/

